@media screen and (min-width:1921px) {
    html {
        font-size: 15px;
    }
}
/* @media screen and (max-width:1199px) {
    .wrapper {
        max-width: 100.0rem;
    }
} */

/* 1170px / 96% = 1218px  - т.к. max-width: 117rem  - можем задать точку перехода больше 1218px - например 1280px. Задавая .wrapper-у width: 96%; (или 96vw)  - мы по-сути сделаем боковые отступы  в 2% от ширины экрана - теперь на всех экранах меньше 1280px всегда будут нормальные отступы по бокам. Удобно использовать, если не заданы конкретные отступы для адаптива в макете. */
@media screen and (max-width:1280px) {
    .wrapper {
        width: 96vw;
    }
}
@media screen and (max-width:1024px) {
    .container {
        height: 73rem;
    }
    .header {
        padding-top: 3rem;
    }
    .menu {
        margin-left: 0;
    }
    .menu__items {
        width: 40rem;
    }
    .phone::before {
        padding-right: 0rem;
    }
    .main {
        padding-top: 14rem;
    }
    .about__heading {
        margin-bottom: 2rem;
        text-align: center;
    }
    .about__line {
        align-items: center;
    }
    .about__line:first-child .about__text {
        margin-left: 1rem;
    }
    .services_m, .doctors_m, .footer_m {
        margin-top: 7rem;
    }
    .cards_m {
        margin-top: 5rem;
    }
    .services__title, .doctors__title {
        text-align: center;
    }
}
@media screen and (max-width:820px) {
    .footer__container {
        column-gap: 1rem;
    }
    .logo__text_ftr {
        margin-right: 0;
    }
    .footer__title::before {
        margin-left: 0rem;
    }
    .footer__title_adress::before {
        margin-left: 0rem;
    }
}
@media screen and (max-width:767px) {
    .header {
        padding-top: 1rem;
        background-color: #3868d2;
    }
    .about__line {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 7.5rem;
    }
    .footer_m {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .footer__container {
        flex-wrap: wrap;
        row-gap: 0.5rem;
        max-width: 50rem;
        width: 96%;
        margin: 0 auto;
    }
    .logo_ftr {
        order: -2;
    }
    .phone_ftr {
        order: -1;
    }  

    /* mob menu */
    
    .wrapper_mobmenu {
        width: 100vw;
    }

    .header {
        /* position: relative; */

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;

        padding-left: 2%;
        padding-right: 2%;
        padding-top: 0;
    }
    .logo__text, .phone, .phone__number {
        color: #fff;
    }
    .logo__img {
        filter: brightness(10);
    }
    .menu {
        position: absolute;
        top: 2.2rem;
        left: 50%;
        transform: translateX(-50%);

        background-color: #3869d2ae;
        width: 100vw;

        visibility: hidden;
        height: 0;
        overflow: hidden;
        transition: all 0.3s linear;

    }
    .menu__items {
        margin: 0 auto;
        flex-direction: column;
    }

    .menu__link {
        color: #fff;
        display: block;
        width: 100vw;
        text-align: center;
        line-height: 3.3;
        height: 5rem;
    }
    .menu__link:hover {
        color: #fff;
        background-color: #3868d2;
    }
    #toggle {
        display: block;
        color: #fff;
        position: absolute;
        top: 0.0rem;
        left: 50%;
        transform: translateX(-50%);
    }
    #toggle:hover {
        cursor: pointer;
    }

    #toggle__chckbx:checked + label .menu {
        visibility: visible;
        /* background-color: aquamarine; */

        /* height: fit-content; узнаём высоту через инспектор браузера 
        height: 20rem; */
        /* height: 115vh;
        min-height: 70rem; */
        height: 20rem;
    }
    .phone {
        font-size: 1.8rem;
    }
    /* end of mob menu */
}

@media screen and (max-width:425px) {
    .header {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    #toggle {
        top: 0.5rem;
    }
    .phone {
        font-size: 1.6rem;
    }
    .menu {
        top: 4.07rem;
    }

    .main {
        padding-top: 8rem;
    }
    .main__heading {
        font-size: 3.4rem;
    }
    .button_main {
        display: block;
        width: fit-content;
        margin: 0 auto;
    }
    .about_m {
        margin-top: 8rem;
    }
    .reserve {
        background-position: center right;
    }

    .footer__container {
        row-gap: 0.5rem;
        max-width: 25rem;
        justify-content: center;
    }
    .footer__item:first-child {
        order: 3;
    }
    .footer__item:nth-child(2) {
        order: 4;
    }
    .footer__title {
        text-align: center;
    }
    .phone_ftr {
        margin-left: 0;
    }
}
@media screen and (max-width:392px) {
    .menu__items {
        /* почему-то "ползёт" мобильное меню в право  - убирается следующим свойством */
        align-items: flex-start;
    }
    .phone {
        font-size: 1.4rem;
    }
    .menu {
        top: 4.01rem;
    }
}
